@page
@model ChkRepo.Pages.test.GetModel
@{
    ViewData["Title"] = "Get";
}

<h2>Get</h2>

<table>
    @foreach (var item in Model.list)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.IsComplete</td>
        </tr>
    }
</table>

